

.portfolio{
    height: 100vh;
}
.portfolio>h1{
    color: #2c3e50;
    font-weight: 700;
}
.line{
    width: 80px;
    height: 5px;
    background-color: #2c3e50;
}
.portfolio .star{
    color: #2c3e50;
}
.layer{
    background-color: #29b197;
    height: 100%;
    width: 100%;
    top: 0%;
    opacity: 0;
    transition: opacity .4s;  
}
.layer>i{
    color: white;
    font-size: 100px;
}
.layer:hover{
    opacity: .9;
}
.sreenLayer{
    z-index: 9999;
    background-color:rgba(13,110,253,.25);

}
.sreenlayerIMge{
    width: 600px;
}


